<% if is_admin %>
<%= render 'admin/teams/team_menu' %>
<% end %>
<section class="mt-6">
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
  <% @teams.each do |team| %>
  <div class="card" style="margin-bottom: 1em;">
    <div class="card-body">
      <div class="team_toggle" data-toggle="collapse" data-target="#collapse_team_<%= team.id %>" aria-expanded="false" aria-controls="collapse_team_<%= team.id %>">
        <h5 class="card-title"><%= team.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= team.game.name %></h6>
        <%= team.description %>
      </div>
      <div class="collapse" id="collapse_team_<%= team.id %>">
        <div class="card-body">
          <div class="row">
            <!-- Test team -->
      
      <section>
		<div class="container padding-top96 padding-bottom96" id="teams"> <!-- Start of second section - centered container -->
			<div class="row"> <!-- Row for bootstrap -->

				<div class="col-md-12 text-center" data-sr='enter bottom move 96px'>
					<h2>THE <span>TEAM</span></h2>
					<div class="blue-horizontal-separator padding-top24 margin-bottom24"></div>
					<p class="text-block padding-bottom48">Team</p>
				</div>

				<div class="clearfix"></div>
				<div class="container col-lg-12 text-center">
					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.3s'>
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
						    <div class="flipper">
						        <div class="front">
						        	<div class="hexagon hexagon1">
						          		<div class="hexTop"></div>
						          		<div class="hexBottom"></div>
						        	</div>
						        </div>
						        <div class="back">
						        	<div class="hexagon-overlay">
						          		<div class="hexTop"></div>
						          		<div class="hexBottom"></div>
						        	</div>
						        	<div class="hexText">
						        		<p class="team-text">Test </p>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
						        	<div class="hexagon">
						          		<div class="hexTop"></div>
						          		<div class="hexBottom"></div>
						        	</div>
						      	</div>
						    </div>
					    </div>
					  	<div class="text-center">
							<h4>TestE</h4>
							<p class="text-block italic-letters">CEO  Founder</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>

					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.6s'>
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
					    	<div class="flipper">
						        <div class="front">
							        <div class="hexagon hexagon2">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
					      		</div>
						      	<div class="back">
							        <div class="hexagon-overlay">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
							        <div class="hexText">
							        	<p class="team-text">Test </p>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
							        <div class="hexagon">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						        </div>
					    	</div>
					    </div>
					  	<div class="text-center">
							<h4>Test</h4>
							<p class="text-block italic-letters">Designer</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>

					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.9s'>  
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
						    <div class="flipper">
						        <div class="front">
							        <div class="hexagon hexagon3">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						      	<div class="back">
							        <div class="hexagon-overlay">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
							        <div class="hexText">
							        	<p class="team-text">Test </p>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
							        <div class="hexagon">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						    </div>
					  	</div>
						<div class="text-center">
							<h4>TestK</h4>
							<p class="text-block italic-letters">Developer</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>

					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 1.2s'>
					  	<div class="no-pad-lr hexagon-holder flip-container text-left">
						    <div class="flipper">
						        <div class="front">
							        <div class="hexagon hexagon4">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						        </div>
						        <div class="back">
							        <div class="hexagon-overlay">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
							        <!--<div class="hexText" style="top: 28px;">
							        	<a href="#contact1"><h1 class="hex-plus"> + </h1></a>
									</div>-->
							        <div class="hexagon">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						        </div>
						    </div>
					  	</div>
						<div class="text-center">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of second container -->

<!-- Fin -->
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      <% if is_admin %>
      <div class="float-right">
        <%= link_to "Delete", admin_team_delete_path(team.id), class: "btn btn-sm btn-danger" %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</section>
