<section class="mt-12">
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
  <% @teams.each do |team| %>
  <div class="card" style="margin-bottom: 1em;">
    <div class="card-body">
      <div class="team_toggle" data-toggle="collapse" data-target="#collapse_team_<%= team.id %>" aria-expanded="false" aria-controls="collapse_team_<%= team.id %>">
        <h5 class="card-title"><%= team.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= team.game.name %></h6>
        <%= team.description %>
      </div>
      <div class="collapse" id="collapse_team_<%= team.id %>">
        <div class="card-body">
          <div class="row">
            <!-- Test team -->

      <section>
		<div class="container padding-top96 padding-bottom96" id="teams"> <!-- Start of second section - centered container -->
			<div class="row"> <!-- Row for bootstrap -->

				<div class="col-md-12 text-center" data-sr='enter bottom move 96px'>

					<div class="blue-horizontal-separator padding-top24 margin-bottom24"></div>				</div>

				<div class="clearfix"></div>
				<div class="container col-lg-12 text-center">
					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.3s'>
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
						    <div class="flipper">
						        <div class="front">
						        	<div class="hexagon hexagon1">
						          		<div class="hexTop"></div>
						          		<div class="hexBottom"></div>
						        	</div>
						        </div>
						        <div class="back">
						        	<div class="hexagon-overlay">
						          		<div class="hexTop"></div>
						          		<div class="hexBottom"></div>
						        	</div>
						        	<div class="hexText">
									<span class="badge badge-info">PlayerName</span>
						        		<span class="badge badge-info">Sniper</span>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
						        	<div class="hexagon">
						          		<div class="hexTop"></div>
						          		<div class="hexBottom"></div>
						        	</div>
						      	</div>
						    </div>
					    </div>
					  	<div class="text-center">
							<h4>PlayersName</h4>
							<p class="text-block italic-letters">Sniper of the Team</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>

					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.6s'>
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
					    	<div class="flipper">
						        <div class="front">
							        <div class="hexagon hexagon2">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
					      		</div>
						      	<div class="back">
							        <div class="hexagon-overlay">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
							        <div class="hexText">
							        	<span class="badge badge-info">PlayerName</span>
									<span class="badge badge-info">Ouvreur</span>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
							        <div class="hexagon">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						        </div>
					    	</div>
					    </div>
					  	<div class="text-center">
							<h4>PlayerName</h4>
							<p class="text-block italic-letters">Entry</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>

					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.9s'>
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
						    <div class="flipper">
						        <div class="front">
							        <div class="hexagon hexagon3">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						      	<div class="back">
							        <div class="hexagon-overlay">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
							        <div class="hexText">
							        	<span class="badge badge-info">PlayerName</span>
									<span class="badge badge-info">Riffle</span>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
							        <div class="hexagon">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						    </div>
					  	</div>
						<div class="text-center">
							<h4>PlayerName</h4>
							<p class="text-block italic-letters">Riffle</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>
					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.9s'>
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
						    <div class="flipper">
						        <div class="front">
							        <div class="hexagon hexagon3">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						      	<div class="back">
							        <div class="hexagon-overlay">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
							        <div class="hexText">
							        	<span class="badge badge-info">PlayerName</span>
									<span class="badge badge-info">Riffle</span>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
							        <div class="hexagon">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						    </div>
					  	</div>
						<div class="text-center">
							<h4>PlayerName</h4>
							<p class="text-block italic-letters">Riffle</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>
					<div class="col-md-3 pad-right0" data-sr='enter bottom move 96px wait 0.9s'>
					    <div class="no-pad-lr hexagon-holder flip-container text-left">
						    <div class="flipper">
						        <div class="front">
							        <div class="hexagon hexagon3">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						      	<div class="back">
							        <div class="hexagon-overlay">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
							        <div class="hexText">
							        	<span class="badge badge-info">PlayerName</span>
									<span class="badge badge-info">Lurker</span>
										<ul class="margin0 padding0 no-style hex-socials">
											<li class="social-hover"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="social-hover"><a href="#"><i class="fa fa-twitter"></i></a></li>
										</ul>
									</div>
							        <div class="hexagon">
							          <div class="hexTop"></div>
							          <div class="hexBottom"></div>
							        </div>
						      	</div>
						    </div>
					  	</div>
						<div class="text-center">
							<h4>PlayerName</h4>
							<p class="text-block italic-letters">Lurker</p>
							<div class="blue-horizontal-separator"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End of second container -->

<!-- Fin -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
