<section class="mt-12">
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
  <% @teams.each do |team| %>
  <div class="card" style="margin-bottom: 1em;">
    <div class="card-body">
      <div class="team_toggle" data-toggle="collapse" data-target="#collapse_team_<%= team.id %>" aria-expanded="false" aria-controls="collapse_team_<%= team.id %>">
        <h5 class="card-title"><%= team.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= team.game.name %></h6>
        <%= team.description %>
      </div>
      <div class="collapse" id="collapse_team_<%= team.id %>">
        <div class="card-body">
          <div class="row">
            <!-- team -->
            <section>
              <div class="container" id="teams">
                <div class="row">
                  <% team.team_members.each do |member| %>
                  <% user = member.user %>
                  <div class="container col-lg-12 text-center">
                    <div>
                      <% if user.avatar.present? %>
                      <%= image_tag user.avatar.url, height: "150", class: "rounded mx-auto d-block" %>
                      <% else %>
                      <%= image_tag "http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/ef/ef606a5b68ac0d93d1a9a0b64b6ae98af00d1905_full.jpg", height: "150", class: "rounded mx-auto d-block" %>
                      <% end %>
                    </div>
                    <div class="text-center">
                      <h4><%= user.firstname.capitalize %> <%= user.lastname.capitalize %></h4>
                      <% if member.team_member_role %>
                      <p class="text-block italic-letters"><%= member.team_member_role.name.capitalize %></p>
                      <% end %>
                      <div class="blue-horizontal-separator"></div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</section>
