<%= form_tag admin_team_team_members_path do |f| %>
<tr>
  <td>
    <%= user.id %>
    <%= hidden_field(:team_member, :id, :value => user.id) %>
  </td>
  <td><%= user.firstname.capitalize %></td>
  <td><%= user.lastname.capitalize %></td>
  <td>
    <%= select_tag "team_member[role_id]", options_from_collection_for_select(@roles, "id", "name"), class: 'form-control', prompt: "Select a role" %>
  </td>
  <td>
    <%= submit_tag "Add", class: "btn btn-primary" %>
  </td>
</tr>
<% end %>
