<%= form_for [:admin, @news] do |f| %>
<% if f.object.errors.any? %>
<div class="form-group">
  <div class="alert alert-danger" role="alert">
    <div id="clear"></div>
    <div id="error">
      <p class="title">
        <%= t 'activemodel.errors.messages', count: f.object.errors.count %>
      </p>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <div id="clear"></div>
  </div>
</div>
<% end %>
<div class="form-group">
  <%= label_tag 'title', "News title" %>
  <%= f.text_field :title, class: 'form-control'%>
</div>
<div class="form-group">
  <%= label_tag 'caption', "News caption" %>
  <%= f.text_field :caption, class: 'form-control'%>
  <small class="form-text text-muted">Short text displayed under the news title on the home page</small>
</div>
<div class="form-group">
  <%= label_tag 'beauty_url', "News pretty url" %>
  <%= f.text_field :beauty_url, class: 'form-control', placeholder: "whoa-such-a-good-new"%>
  <small class="form-text text-muted">Url used to access this news. Example: /news/<span class="badge badge-info">whoa-such-a-good-new</span></small>
</div>
<div class="form-group">
  <%= label_tag 'content', "News content" %>
  <%= f.text_area :content, :class => "tinymce" %>
</div>
<div class="form-group">
  <div class="form-check">
    <%= f.check_box :visible, class: 'form-check-input'%>
    <%= f.label "Visible", class: "form-check-label" %>
  </div>
</div>
<%= f.submit ( f.object.new_record? ? "Create" : "Update"), class: "btn btn-primary" %>
<% end %>
<%= tinymce :default, :uploadimage_hint => @news.to_json %>
