<%= form_for [:admin, @game] do |f| %>
<% if f.object.errors.any? %>
<div class="form-group">
  <div class="alert alert-danger" role="alert">
    <div id="clear"></div>
    <div id="error">
      <p class="title">
        <%= t 'activemodel.errors.messages', count: f.object.errors.count %>
      </p>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <div id="clear"></div>
  </div>
</div>
<% end %>
<div class="form-group">
  <%= label_tag 'name', "Game\'s name" %>
  <%= f.text_field :name, class: 'form-control'%>
</div>
<div class="form-group">
  <%= f.label "Team based game ?" %>
  <%= f.check_box :team_based, class: 'form-control'%>
</div>
<div class="form-group">
  <%= label_tag 'description', "Game\'s description" %>
  <%= f.text_area :description, class: 'form-control'%>
</div>
<button type="submit" class="btn btn-primary">Create</button>
<% end %>
