<div class="block-area">
  <div class="container">
    <div class="title-bar">
      <h2>
        <%= image_tag 'ressources/right-arrow.png' %>
        About us
      </h2>
    </div>
    <div class="contain-text">
      <p>
        <span class="left-line"></span>
        <span class="red-bg">Founded in 2016</span><br>
        <span>NinjaServ</span> was originally <br>
        a gathering of 6 passionate friends of video games.<br>
        The structure has grown with remarkable performance <br>
        and has therefore grown considerably.<br>
        It now counts 35 members, <br>
        subdivided into 5 competitive teams.
      </p>
      <p>
        <span class="left-line"></span>
        <span class="red-bg">Our vision</span><br>
        We want to conquer <span> Europe.</span><br>
        But first of all <span>Switzerland</span> is what we want to conquer.<br>
        With our teams are remarkable <br>
        that it is online or offline our teams <br>
        ensure the image of the<span> structure</span> and of <span>sponsors.</span>
      </p>
      <p>
        <span class="left-line"></span>
        <span class="red-bg">Our mission</span><br>
        Our mission is to be the first in<span> Switzerland.</span><br>
        Then this we want to launch <span>NinjaServ</span> <br>
        on the <span>European scene</span>, with our mixed teams.
      </p>
    </div>
  </div>
</div>
<div class="block-area leaders-area">
  <div class="container">
    <div class="title-bar">
      <h2><%= image_tag 'ressources/right-arrow.png' %>Leaders</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'staff/ERMAL-AHMEDI.png', class: "img-for" %>
        <div class="contain-img">
          <div class="bottom-area">
            <h3>ERMAL AHMEDI</h3>
            <p>CEO</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag 'staff/ALEXIS-CHARBONNEY.png', class: "img-for" %>
        <div class="contain-img">
          <div class="bottom-area">
            <h3>ALEXIS CHARBONNEY</h3>
            <p>CO-FOUNDER</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag 'staff/DJELAL-FIDA.png', class: "img-for" %>
        <div class="contain-img">
          <div class="bottom-area">
            <h3>DJELAL FIDA</h3>
            <p>LEAD DESIGNER</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag 'staff/CORENTIN-WALSER.png', class: "img-for" %>
        <div class="contain-img">
          <div class="bottom-area">
            <h3>CORENTIN WALSER </h3>
            <p>TRESORIERS</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contain-img">
          <div class="bottom-area">
            <h3>CLEMENT HAMPAI</h3>
            <p>DEVELOPER</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag 'staff/SEBASTIEN-KRAHENBUHL.png', class: "img-for" %>
        <div class="contain-img">
          <div class="bottom-area">
            <h3>SEBASTIEN KRAHENBUHL</h3>
            <p>NINJA STUDIO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
