<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100" id="navbar">
    <ul class="navbar-nav m-auto align-middle">
      <li class="nav-item">
        <%= link_to 'Teams', teams_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'News', news_index_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About us", about_us_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <a href="/" class="navbar-brand">
          <%= image_tag("ninja-logo", width: "120", class: "navbar-brand-icon") %>
          <% if Rails.application.secrets.github_branch && Rails.application.secrets.github_branch == "preprod" %>
          <span class="label label-info" style="font-size:8px;">Preprod</span>
          <% elsif Rails.application.secrets.github_branch && Rails.application.secrets.github_branch == "dev" %>
          <span class="label label-primary" style="font-size:8px;">Dev</span>
          <% end %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <% if is_logged_in %>
        <%= link_to 'Logout', logout_path,method: :delete, :class => "nav-link" %>
        <% else %>
        <%= link_to 'Login', login_path, :class => "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
